h1 {
  color: gold;
  font-style: oblique;
  text-align: center;
  font-size: 40px;
}
h2 {
  color: gold;
  text-align: center;
  font-size: 40px;
}
img {
  width: 300px;
  height: 250px;
  border: 1px solid black;
}
p {
  font-size: 20px;
  font: times;
}
body {
  background-color: silver;
}
ul {
  font-size: 30px;
  line-height: 30px;
}
