h1 {
  color: blue;
  font-style: oblique;
  text-align: center;
  font-size: 40px;
}
h2 {
  color: navy;
  text-align: center;
  font-size: 40px;
}
img {
  width: 300px;
  height: 250px;
  border: 1px solid black;
}
p {
  font-size: 20px;
  font: times;
}
ul {
  font-size: 30px;
  line-height: 30px;
}
